In [10]:
import pandas as pd

In [11]:
df = pd.read_csv('name_places.csv', encoding="utf-8")
print df

      ಚಂದ್ರು           ದೆಹಲಿ
0        ಅಶು        ಕೊಲಂಬಿಯಾ
1     ದಯಾನಂದ           ಮುಂಬೈ
2      ಸೌಮ್ಯ        ಬೆಂಗಳೂರು
3     ಅಭಿಷೇಕ        ನೆಲಮಾಂಗಲ
4    ನಾರಾಯಣ್      ಯಶ್ವಂತ್ಪುರ
5     ಕಾವ್ಯಾ           ಪೀನ್ಯ
6     ಚಂದಾನಾ  ಜಲಹಳ್ಳಿ ಕ್ರಾಸ್
7        ಮಧು       ಬಾಗಲಗುಂಟೆ
8     ರೊಮಿಯೊ      ಮೆಜೆಸ್ಟಿಕ್
9   ಜೂಲಿಯೆಟ್      ಮಲ್ಲೇಶ್ವರಂ
10       NaN        ಕ್ರ ಪುರಂ
11       NaN  ಡಿ.ವಿ.ಜಿ. ರೋಡ್
12       NaN         ಲಾಲಬಾಗ್
13       NaN         ಕೋರಮಂಗಲ
14       NaN         ಬನಶಂಕರಿ
15       NaN        ದಾವಣಗೆರೆ
16       NaN      ಚಿತ್ರದುರ್ಗ